/*style page*/


html, body{
	height:100%;
	width:100%;
}

#board {

	background-image: url("http://i1252.photobucket.com/albums/hh570/mudzy2k6/Whiteboard_Background_zpsbba3bfab.png"); 

	height:100%;
	background-repeat: no-repeat;

}


#toolbar {
	

}
